@import url(http://fonts.googleapis.com/css?family=Ropa+Sans); /* Importeren Google Fonts Ropa Sans Font */


body{
	margin: 0;
	background-color: #26292E;
	font-color: #f5f5f5;
	font-family: 'open_sanslight';
}
h1, h2, h3, h4, h5, h6{
	font-family: 'open_sansbold';
}


.splash{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #2F3238;
	z-index: 10;
	text-align: center;
}

#splashlogo{
	width: 20%;
	margin: auto;
 	position: absolute;
 	top: 0; left: 0; bottom: 0; right: 0;
}

#splashtekst{
	color: #f5f5f5;
	font-family: 'open_sansbold';
	font-weight: bold;
	text-align: center;
	z-index: 10;
	margin-top: 40%;
}




.menu{
	background-color: #26292E; 
	width: 270px;
	display: inline-block;
	text-align: right;
	position: fixed;
	margin-top: 150px;
	margin-right: 15px;
	padding: 10px;
    font-weight: 50;
}
.container{
	background-color: #f5f5f5;
	width: calc(100% - 310px);
	position: relative;	
	float: right;
	min-height: 1000px;
	border-right: 20px solid;
	border-color: #26292E;
    font-weight: 50;
}
.menulogo{
	width: 170px;
	margin: 0 auto;
	margin-bottom: 10px;
	display: block;
	text-align: center;
    font-weight: 50;
}
.content{
	width: 900px;
	margin: 0 auto;
	padding-top: 96px;
    font-weight: 50;
}
.menulogotext{
	color: #f5f5f5;
	font-family: 'open_sansbold';
	text-align: center;
	margin-bottom: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menulink {
	font-family: 'open_sansregular';
    display: block;
    text-align: center;
    color: #f5f5f5;
    text-decoration: none;
    font-size: 22px;
    margin-bottom: 10px;
}
.projectitem{
	width: 425px;
    filter: grayscale(100%);
	display: inline-block;
}

.main-image {
    width: 70%;
    background-image: url(../img/IMG_5231.JPG);
    height: 500px;
    filter: grayscale(0%);
}


.resize { 
    transition: all .2s ease-in-out;
    filter: grayscale(100%);
	-webkit-transition: all 2.s ease-in-out; 
}
.resize:hover { 
    transform: scale(1.02); 
	-webkit-transform: scale(1.02);
    filter: grayscale(0%);
}

.projectitem:nth-child(2n+1) {
    float: right;
}
.projectitem:nth-child(2n+0) {
    float: left;
}
.projectitemtitle{
	margin-top: 10px;
	text-align: center;
}
.thumbnailcontainer{
	margin: 0 auto;
	text-align: center;
}
.thumbnail{
	width: 100px;
	height: 100px;
	margin: 10px;
	display: inline-block;
	cursor: pointer;
}










.menulogotext h1 {
    font-size: 2.0em;
}




p {
    font-size: 1.5em;
}

#test p, .menu h1 {    
	-webkit-animation-delay: 1.5s;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}y: 1; }
}

/* Internet Explorer */
@-ms-keyframes ease-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes ease-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* form */
/* Basic Grey */
.basic-grey h1 {
    font-size: 25px;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey label>span {
    float: left;
    width: 10%;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 88%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
     height:100px;
    width:88%;
}
.basic-grey select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right;
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.basic-grey .button {
    background: #26292E;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    cursor: pointer;
}
.basic-grey .button:hover {
        background: #f5f5f5;
        color: #26292E;
}
.basic-grey textarea:focus, .basic-grey #naam:focus, .basic-grey #email:focus{
    border: 1px solid #26292E;
}