
@font-face {
  font-family: 'AkkuratPro-Bold';
  src: url('AkkuratPro-Bold.eot?#iefix') format('embedded-opentype'),  url('AkkuratPro-Bold.otf')  format('opentype'),
	     url('AkkuratPro-Bold.woff') format('woff'), url('AkkuratPro-Bold.ttf')  format('truetype'), url('AkkuratPro-Bold.svg#AkkuratPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AkkuratPro-Regular';
  src: url('AkkuratPro-Regular.eot?#iefix') format('embedded-opentype'),  url('AkkuratPro-Regular.otf')  format('opentype'),
	     url('AkkuratPro-Regular.woff') format('woff'), url('AkkuratPro-Regular.ttf')  format('truetype'), url('AkkuratPro-Regular.svg#AkkuratPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
