@import url(http://fonts.googleapis.com/css?family=Ropa+Sans); /* Importeren Google Fonts Ropa Sans Font */

body{
	margin: 0;
	font-family: 'Open Sans';
	background-color: #26292E;
	font-color: #f5f5f5;
	overflow:hidden;
}

.splash{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #2c3e50;
	z-index: 10;
	text-align: center;
}

#splashlogo{
	width: 20%;
	margin: auto;
 	position: absolute;
 	top: 0; left: 0; bottom: 0; right: 0;
}

#splashtekst{
	color: #f5f5f5;
	font-family: 'Bebas';
	text-align: center;
	z-index: 10;
	margin-top: 40%;
}




.menu{
	background-color: #26292E; 
	width: 270px;
	display: inline-block;
	text-align: right;
	position: fixed;
	margin-top: 150px;
	margin-right: 15px;
	padding: 10px;
}
.container{
	background-color: #f5f5f5;
	width: calc(100% - 310px);
	position: relative;	
	float: right;
	min-height: 1000px;
	border-right: 20px solid;
	border-color: #26292E;
}
.menulogo{
	width: 170px;
	margin: 0 auto;
	margin-bottom: 20px;
	display: block;
	text-align: center;
}
.content{
	width: 900px;
	margin: 0 auto;
	padding-top: 96px;
}
.menulogotext{
	color: #f5f5f5;
	font-family: 'Bebas';
	text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menulink {
	font-family: 'Ropa Sans';
    display: block;
    text-align: center;
    color: #f5f5f5;
    text-decoration: none;
    font-size: 22px;
    margin-bottom: 10px;
}














.menulogotext h1 {
    font-size: 2.0em;
}




p {
    font-size: 1.5em;
}

#test p, .menu h1 {    

    -webkit-animation: fadein 10s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 10s; /* Firefox < 16 */
        -ms-animation: fadein 10s; /* Internet Explorer */
         -o-animation: fadein 10s; /* Opera < 12.1 */
            animation: fadein 10s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}y: 1; }
}

/* Internet Explorer */
@-ms-keyframes ease-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes ease-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}